{% if page.title == "主页"
<!--    or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
   or page.title == "Research"
   or page.title == "Publication" -->
%}{% assign showHeader = true %}{% endif %}

{% if page.title == "研究"
   or page.title == "论文" 
%}{% assign showHeader = false %}{% endif %}


{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
<!--         {% if site.research %}
            <a class="link" href="{{ site.url }}/research">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
		{% elsif site.publications %}
            <a class="link" href="{{ site.url }}/publications">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a> 
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %} -->
		
            <span class="link">
                <img class="selfie" alt="{{ site.name_cn }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
			
        <h1 class="title">{{ site.name_cn }}</h1>
        <h2 class="description">{{ site.bio_cn }}</h2>

        <!--#{% include social-links.html %}-->
    </header>
{% endif %}

{% include nav_cn.html %}
